
<div class="site-section  site-section-sm">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-7 text-center mb-5">
                <div class="site-section-title">
                    <h2>NUESTROS SERVICIOS</h2>
                    <p>


                    </p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 col-lg-4 mb-4">
                <a href="#" class="service text-center border rounded">
                    <h2 class="service-heading pt-4">Venta y Compra de Inmuebles</h2>
                    <p><span class="read-more">Ver mas</span></p>
                </a>
            </div>
            <div class="col-md-6 col-lg-4 mb-4">
                <a href="#" class="service text-center border rounded">
                    <h2 class="service-heading  pt-4">Tasación Gratuita</h2>
                    <p><span class="read-more">Ver mas</span></p>
                </a>
            </div>
            <div class="col-md-6 col-lg-4 mb-4">
                <a href="#" class="service text-center border rounded">
                    <h2 class="service-heading  pt-4">Hipotecas y Financiación</h2>
                    <p><span class="read-more">Ver mas</span></p>
                </a>
            </div>
            <div class="col-md-6 col-lg-4 mb-4">
                <a href="#" class="service text-center border rounded">
                    <h2 class="service-heading  pt-4">Seguros</h2>
                    <p><span class="read-more">Ver mas</span></p>
                </a>
            </div>

            <div class="col-md-6 col-lg-4 mb-4">
                <a href="#" class="service text-center border rounded">
                    <h2 class="service-heading  pt-4">Certificado Energéticos</h2>
                    <p><span class="read-more">Ver mas</span></p>
                </a>
            </div>
            <div class="col-md-6 col-lg-4 mb-4">
                <a href="#" class="service text-center border rounded">
                    <h2 class="service-heading  pt-4">Cédulas de habitabilidad</h2>
                    <p><span class="read-more">Ver mas</span></p>
                </a>
            </div>
            <div class="col-md-6 col-lg-4 mb-4">
                <a href="#" class="service text-center border rounded">
                    <h2 class="service-heading  pt-4">Legalizaciones y proyectos</h2>
                    <p><span class="read-more">Ver mas</span></p>
                </a>
            </div>
            <div class="col-md-6 col-lg-4 mb-4">
                <a href="#" class="service text-center border rounded">
                    <h2 class="service-heading  pt-4">Home Staging</h2>
                    <p><span class="read-more">Ver mas</span></p>
                </a>
            </div>
            <div class="col-md-6 col-lg-4 mb-4">
                <a href="#" class="service text-center border rounded">
                    <h2 class="service-heading  pt-4">Video seguridad & Alarmas</h2>
                    <p><span class="read-more">Ver mas</span></p>
                </a>
            </div>
        </div>
    </div>
</div>
